@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="main-content">
        <h2>Unlock Your Potential with the power of AI</h2>
        <p>
            We specialize in empowering individuals with cutting-edge knowledge and skills in the rapidly evolving fields of artificial intelligence (AI)
            and cloud computing, particularly within the Azure OpenAI ecosystem. As a frontrunner in AI education, we are dedicated to equipping learners with the expertise needed to
            thrive in the dynamic landscape of technology and innovation.
        </p>
        <button class="cta-button">Start Learning Now <i class="fas fa-arrow-right"></i></button>
    </div>
